html{
    box-sizing:border-box;
}
*, *::before, *::after{
    box-sizing:inherit;
}

body{
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body::-webkit-scrollbar {
    width: .5em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(116, 131, 172);
  outline: 1px solid rgb(2, 26, 49);
}

.top-header{
    width: 100%;
    height: auto;
    background: #eeeeee;
    border: 1px solid rgba(0, 0, 0, 0.21);
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.17);
    border-radius: 0px 0px 385px 385px;
    padding: 2em;
}

.header-wrapper{
    width: 50%;
    margin: 0 auto;  
    text-align: center;
    padding: 2em 0 0 0;  
}

.header-wrapper img{
    width: 50%;
}

.header-wrapper h2{
    font-size: 4rem;
}

.header-wrapper h2 > small{
    font-size:4.5rem;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1rem;
    font-weight: 500;
}

.header-wrapper h4{
    margin-top: -2%;
    font-size: 1rem;
    font-weight: 550;
}

.wrapper{
    width: 85%;
    margin: 5em auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}
.wrapper-item{
    padding: 1em;
}

.wrapper-item img{
    width: 100px;
}

.wrapper-item h3{
    font-size: 1.3rem;
}

.wrapper-item p{
    line-height: 2rem;
}

.footer{
    width: 100%;
    height: 120px;
    background: #2F2F2F;
    border-radius: 200px 200px 0px 0px;
    position: absolute;
}

.footer-wrapper{
    width: 75%;
    margin: 0 auto;
    padding: 3em 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.footer-wrapper p, a{
    color:#fafafa;
    text-decoration: none;
}

.contact-btn{
    background: #395D8A;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1.1em;
    border-radius: 35px;
    -webkit-box-shadow: -1px 13px 75px -39px rgba(0,0,0,1);
    -moz-box-shadow: -1px 13px 75px -39px rgba(0,0,0,1);
    box-shadow: -1px 13px 75px -39px rgba(0,0,0,1);
}

.social a{
    font-size: 3rem;
}

.cantact a{
    padding: 2em 0 0 0;
}

.timer-header{
    font-size: 2rem;
}

.timer{
    width: 65%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
}

.timer h3{
    background: #395D8A;
    width: 100px;
    height: 100px;
    padding-top: 1.5em;
    color:#fff;
    border-radius: 100%;
    -webkit-box-shadow: -1px 13px 61px -17px rgba(150,150,150,1);
    -moz-box-shadow: -1px 13px 61px -17px rgba(150,150,150,1);
    box-shadow: -1px 13px 61px -17px rgba(150,150,150,1);
}

@media (max-width:500px){
    .timer{
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
    }
    .top-header{
        width: 100%;
        height: auto;
        background: #eeeeee;
        border: 1px solid rgba(0, 0, 0, 0.21);
        box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.17);
        border-radius: 0px 0px 385px 385px;
    }
    .header-wrapper{
        width: 70%;
        margin: 0 auto;  
        text-align: center;
        padding: 2em 0 0 0;  
    }

    .header-wrapper img{
        width: 80%;
    }
    
    .header-wrapper h2{
        font-size: 2rem;
    }
    
    .header-wrapper h2 > small{
        font-size:2.5rem;
        font-family: 'Times New Roman', Times, serif;
        line-height: 1rem;
    }
    
    .header-wrapper h4{
        margin-top: -2%;
        font-size: 1rem;
    }

    .wrapper{
        width: 85%;
        margin: 5em auto;
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer{
        width: 100%;
        height: 350px;
        background: #2F2F2F;
        border-radius: 200px 200px 0px 0px;
    }
    
    .footer-wrapper{
        width: 75%;
        margin: 0 auto;
        padding: 6.5em 0 0 0;
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
    
    .footer-wrapper p, a{
        color:#fafafa;
    }
    
    .social a{
        font-size: 3rem;
    }
    
    .cantact a{
        padding: 2em 0 0 0;
    }
    
}