body{
    background: #fff;
    margin:0 !important;
    font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
    width: .5em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(116, 131, 172);
  outline: 1px solid rgb(2, 26, 49);
}